# Building an End-to-End Machine Learning Model: Process We Can Follow

In [1]:
# To build an end-to-end Machine Learning model, you first need to train a Machine Learning model as you do in every Machine Learning problem you solve. Once you have trained your model, below is the process you can follow to turn your Machine Learning model into an end-to-end solution using the dash framework:

# Set up a new Dash application.
# Create the layout of the app using Dash’s HTML and Core Components. It includes input fields, buttons, and output display areas.
# Write callback functions to define the interactivity of the app, such as taking user inputs, running the model prediction, and displaying the results.
# Load the model within the app to use for predictions.
# So, the process starts with building a Machine Learning model. To save time, I will be using a Machine Learning model I have trained before. I recently wrote an article on Real Estate Price Prediction. I will use the model I trained to predict the real estate prices to build an end-to-end solution.

# Now Let’s Build an end-to-end Machine Learning Model

In [2]:
import pandas as pd 

#Load data set
real_estate_data = pd.read_csv("Real_Estate.csv")

In [3]:
real_estate_data

,Transaction date,House age,Distance to the nearest MRT station,Number of convenience stores,Latitude,Longitude,House price of unit area
0,2012-09-02 16:42:30.519336,13.3,4082.01500,8,25.007059,121.561694,6.488673
1,2012-09-04 22:52:29.919544,35.5,274.01440,2,25.012148,121.546990,24.970725
2,2012-09-05 01:10:52.349449,1.1,1978.67100,10,25.003850,121.528336,26.694267
3,2012-09-05 13:26:01.189083,22.2,1055.06700,5,24.962887,121.482178,38.091638
4,2012-09-06 08:29:47.910523,8.5,967.40000,6,25.011037,121.479946,21.654710
...,...,...,...,...,...,...,...
409,2013-07-25 15:30:36.565239,18.3,170.12890,6,24.981186,121.486798,29.096310
410,2013-07-26 17:16:34.019780,11.9,323.69120,2,24.950070,121.483918,33.871347
411,2013-07-28 21:47:23.339050,0.0,451.64190,8,24.963901,121.543387,25.255105
412,2013-07-29 13:33:29.405317,35.9,292.99780,5,24.997863,121.558286,25.285620
413,2013-08-01 09:49:41.506402,12.0,90.45606,6,24.952904,121.526395,37.580554

In [8]:
#import libs
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score, mean_squared_error
import os
import joblib

In [5]:
#Selecting features and target variables
features = ['Distance to the nearest MRT station', 'Number of convenience stores', 'Latitude','Longitude']
target = 'House price of unit area'

x= real_estate_data[features]
y = real_estate_data[target]

In [6]:
x

,Distance to the nearest MRT station,Number of convenience stores,Latitude,Longitude
0,4082.01500,8,25.007059,121.561694
1,274.01440,2,25.012148,121.546990
2,1978.67100,10,25.003850,121.528336
3,1055.06700,5,24.962887,121.482178
4,967.40000,6,25.011037,121.479946
...,...,...,...,...
409,170.12890,6,24.981186,121.486798
410,323.69120,2,24.950070,121.483918
411,451.64190,8,24.963901,121.543387
412,292.99780,5,24.997863,121.558286
413,90.45606,6,24.952904,121.526395

In [7]:
y

0       6.488673
1      24.970725
2      26.694267
3      38.091638
4      21.654710
         ...
409    29.096310
410    33.871347
411    25.255105
412    25.285620
413    37.580554
Name: House price of unit area, Length: 414, dtype: float64

In [9]:
#Spliting the dataset into training and testing sets
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2, random_state=42)

if not os.path.exists('linear_regression_model.pkl'):
    #Model initoalozation
     model = LinearRegression()
     #Model training\
     model.fit(x_train,y_train)

     #Saving the  trained model
     joblib.dump(model,'linear_regression_model.pkl')
else:
     model = joblib.load('linear_regression_model.pkl')

In [10]:
#Here, I have just trained the model. To understand the model training process in detail, please refer to this detailed article on Real Estate Price Prediction.

In [11]:
import dash 
from dash import html, dcc, Input, Output, State

import pandas as pd

In [15]:
#Initilize tej Dash app
app = dash.Dash(__name__)

#Define the layout of the app
app.layout = html.Div([
    html.Div([
        html.H1("Real Estate Price Prediction", style={'text-align': 'center'}),
        
        html.Div([
            dcc.Input(id='distance_to_mrt', type='number', placeholder='Distance to MRT Station (meters)',
                      style={'margin': '10px', 'padding': '10px'}),
            dcc.Input(id='num_convenience_stores', type='number', placeholder='Number of Convenience Stores',
                      style={'margin': '10px', 'padding': '10px'}),
            dcc.Input(id='latitude', type='number', placeholder='Latitude',
                      style={'margin': '10px', 'padding': '10px'}),
            dcc.Input(id='longitude', type='number', placeholder='Longitude',
                      style={'margin': '10px', 'padding': '10px'}),
            html.Button('Predict Price', id='predict_button', n_clicks=0,
                        style={'margin': '10px', 'padding': '10px', 'background-color': '#007BFF', 'color': 'white'}),
        ], style={'text-align': 'center'}),
        
        html.Div(id='prediction_output', style={'text-align': 'center', 'font-size': '20px', 'margin-top': '20px'})
    ], style={'width': '50%', 'margin': '0 auto', 'border': '2px solid #007BFF', 'padding': '20px', 'border-radius': '10px'})
])

#Define callback to update output
@app.callback(
    Output('prediction_output', 'children'),
    [Input('predict_button', 'n_clicks')],
    [State('distance_to_mrt', 'value'),
     State('num_convenience_stores', 'value'),
     State('latitude', 'value'),
     State('longitude', 'value')]
)

# def update_output(n_clicks, distance_to_mrt, num_convenience_store,latitude, longitude):
#     if n_clicks > 0 and all(v is not None for v in [ distance_to_mrt, num_convenience_store,latitude, longitude]):
#         #Prepare the feature vector
#         featre = pd.DataFrame([[ distance_to_mrt, num_convenience_store,latitude, longitude]], columns=['distance_to_mrt', 'num_convenience_store','latitude', 'longitude'])

#         #predict
#         prediction = model.predict(featre)[0]
#         return f'Predicted House Price of Unit Area: ${prediction:.2f}'
def update_output(n_clicks, distance_to_mrt, num_convenience_stores, latitude, longitude):
    if n_clicks > 0 and all(v is not None for v in [distance_to_mrt, num_convenience_stores, latitude, longitude]):
        try:
            # Prepare the feature vector
            features = pd.DataFrame([[distance_to_mrt, num_convenience_stores, latitude, longitude]], 
                                    columns =['Distance to the nearest MRT station', 'Number of convenience stores', 'Latitude', 'Longitude'])
            # Predict
            prediction = model.predict(features)[0]
            return f'Predicted House Price of Unit Area: {prediction:.2f}'
        except Exception as e:
            return f"Error in prediction: {str(e)}"
    elif n_clicks > 0:
        return 'Please enter all values to get a prediction'
    return ''


#Run the app
if __name__ == '__main__':
    app.run_server(debug=True)